<!DOCTYPE html>
<html>
<head>
  <title><Base></Base></title>
</head>
<body>
  <div class="login">
    <h1> Welcome to Dashbaord </h1>

     <form action="{{url_for('predict')}}" method="POST">
    <input type="text" name="MRNO" placeholder="MRNO 0.something", required="required"><br>
    <input type="text" name="AGE" placeholder="age 0. something", required="required"><br>
    <input type="text" name="GENDER" placeholder="gender 0 or 0.5", required="required"><br>
    <input type="text" name="DISTRICT" placeholder="District 0.0", required="required"><br>
    <input type="text" name="TEHSIL" placeholder="tehsil 0.0", required="required"><br>
    <input type="text" name="REPORT_VERIFIED" placeholder="report varified 0. something", required="required"><br>
    <input type="text" name="CPT_ID" placeholder="CPT_ID 0.0", required="required"><br>
    <input type="text" name="RESULT_VALUE" placeholder="RESULT_VALUE 0.0", required="required"><br>
    <input type="text" name="CPT_ID.1" placeholder="CPT_ID.1 0.0", required="required"><br>
  <button type="Submit" class="btn btn-primary btn-block btn-large">predict</button>

    </form>
   <br>
   <br>
   {{ output }}
  </div>
</body>
</html>
